body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5em;
  color: #4A90E2;
}

#container {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
}

#map {
  height: 70vh;
  width: 60%;
}

.coordinates {
  width: 40%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.coordinates label {
  display: block;
  margin-top: 10px;
}

.coordinates input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.share-location {
  margin-top: 20px;
}

@media (max-width: 768px) {
  #container {
    flex-direction: column;
  }

  #map {
    width: 110%;
    height: 400px;
    order: 1;
  }

  .coordinates {
    width: 100%;
    order: 2;
    margin-top: -50px;
    background-color: rgba(74, 144, 226, 0.9);
    color: #ffffff;
    padding: 15px;
    text-align: center;
  }

  .coordinates input[type="text"] {
    color: #000000;
  }
}
